@import '../../../styles-variables.scss';

h1 {
  margin-top: 25px;
  margin-bottom: 25px;
  text-transform: uppercase;
  // margin: 0 0 20px 0;
  text-align: center;
}

h2 {
  margin: auto;
}

.contact-page-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  z-index: 0;
  text-align: center;
}

mat-card {
  margin-bottom: 20px;
}

mat-checkbox {
  margin: 10px 0 20px 0;
}
mat-slider {
  width: 100%;
}
.buttons {
  margin: 20px 0px;
}
