# Terraform Variables
# Note: TF_VAR_* is required terraform syntax
# Note: These static emails MUST be verified by AWS SES
export TF_VAR_STATIC_RECEIVER_EMAIL="dude@example.com"
export TF_VAR_STATIC_SENDER_EMAIL="dudet@example.com"
# Vars for AWS S3 static-assets deployment
export TF_VAR_PREFIX='ng9-'
export TF_VAR_DEV_BUCKET_NAME='dev-bucket-magnus'
export TF_VAR_PROD_BUCKET_NAME='prod-bucket-magnus'

# Details to deploy client to github pages
export GITHUB_USER_NAME='MagnusBrzenk'
export GITHUB_REPO_NAME='ng9-material-boilerplate'
